!.eslintrc
node_modules
allure-reports
allure-results
reports
.editorconfig
mochawesome-report
*.log
_dist
src/config/sec_aqa*.json
src/config/retailer-portal-credentials.json
generatedFeatures
playwright.txt
.vscode
.idea
.coxa
.env
.run

.DS_Store
i18n_*
rpAdminAuth.time
rpAdminAuth
